a[href$="disabled"]
  color #999999
  opacity 0.75
  pointer-events: none

.home-page div 
  margin-bottom: 30px

.current 
  border-radius: 4px
  padding: 0.5em
  line-height: 1
  font-size: 0.6rem
  text-transform: uppercase
  background-color: #f3f5f7
  vertical-align: middle
